/* Styles for Footer section layout */
.darkFooter {
    margin: 0;
    padding: 30px ;
    min-width: 100vw;
    min-height: 40vh;
    /* background-color: #37306B;
    color: whitesmoke; */
    display:flex;
    align-content: center;
    justify-content: space-between;
}

.textLogo {
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 2.4rem;
}

.tagLine {
    font-family: 'Karla';
    font-weight: bold;
    font-size: 1rem;
}

.textCopy {
    font-family: 'Karla';
    font-weight: 100;
    font-size: 0.8rem;
    color: darkgray;
}


.footerColumTitle {
    font-family: 'Karla';
    font-weight: 500;
    font-size: 1.1rem;
}

.footerColumText {
    font-family: 'Karla';
    font-weight: 100;
    font-size: 0.8rem;

}

.socialIcon {
    color: white;
}

.socialIcon:hover {
    color: darkgray;
}