/* Styles for Footer section layout */
.darkFooter {
    margin: 0;
    padding: 30px ;
    min-width: 100vw;
    min-height: 40vh;
    /* background-color: #37306B;
    color: whitesmoke; */
    display:flex;
    align-content: center;
    justify-content: space-between;
}

.footerLogo {
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 2.4rem;
    line-height: 1rem;
}

.footerTagline {
    font-family: 'Karla';
    font-weight: 200;
    font-size: 1rem;
    line-height: 1rem;
    color: darkgray;
}

.footerCopyright {
    font-family: 'Karla';
    font-weight: 100;
    font-size: 0.8rem;
    color: darkgray;
}


.footerColumTitle {
    font-family: 'Karla';
    font-weight: 500;
    font-size: 1.2rem;
}

.footerColumText {
    font-family: 'Karla';
    font-weight: 400;
    font-size: 1rem;
    line-height: 0.8rem;
    color: darkgray;
}

.footerSocialIcon {
    color: white;
}

.footerSocialIcon:hover {
    color: darkgray;
}

.footerMenu {
    font-family: 'Karla';
    font-size: 1rem;
    font-weight: 500;
    color: white;
    box-shadow: inset 0 0 0 0 white;
    padding: 0 0.25rem;
    margin: 0 0.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.footerMenu:hover {
    color: darkgray;
}

.footerMenu:visited {
    color: darkgray;
}

.footerMenu:active {
    color: darkgray;
}

.footerMenu:focus {
    color: darkgray;
}