/* Styles for Privacy Policy page layout */
.privacyPolicyMainContainer{
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}
