/* Styles for Home page layout */
.mainProfileContainer {
    margin: 0;
    padding: 30px;
    min-width: 100vw;
    min-height: 80vh;
    display: flex;
    justify-content: start;
    align-content: start;
}