/* Styles for SignUp page layout */
.signUpPage {
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url('../assets/rick-n-morty-wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    place-items: center;
}
