/* Styles for Home page layout */
.mainHomeContainer {
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.bannerTop {
    margin: 0;
    padding: 5rem;
    min-width: 100vw;
    min-height: 80vh;
    background-image: url(https://res.cloudinary.com/dtxhybmyx/image/upload/v1678967536/shinyteeth/pexels-iamluisao-12917343_a51mwk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

.bannerTopContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: start;
    row-gap: 2;
}

.title {
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 6rem;
    line-height: 6rem;
    color: #37306B;
}

.subtitle {
    font-family: 'Montserrat';
    font-size: 2.2rem;
    font-weight: bold;
    color: #54b3d6;
}

.text {
    font-family: 'Karla';
    font-size: 1.6rem;
    font-weight: 500;
    color: #54b3d6;
}

.headline {
    font-family: 'Karla';
    font-size: 2rem;
    font-weight: 100;
    color: whitesmoke;
}